{% include 'header.html' %}
        <!-- Hero Start -->
        <div class="container-fluid bg-light py-6 my-6 mt-0">
            <div class="container text-center animated bounceInDown">
                <h1 class="display-1 mb-4">Coming Soon Under Instruction</h1>
            </div>
        </div>
        <!-- Hero End -->


        <!-- 404 Start -->
        <div class="container-fluid py-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container text-center">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
                        <h1 class="display-1">500</h1>
                        <h1 class="mb-4"> Under Instruction</h1>
                        <p class="mb-4">We’re sorry, the page you have looked for is Under Instruction now and it will be available soon.</p>
                        <a class="btn btn-primary rounded-pill py-3 px-5" href="/">Go Back To Home</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 404 End -->


{% include 'footer.html' %}
