{% include 'ar/header.html'%}
<!-- Hero Start -->
<div class="container-fluid bg-light py-6 my-6 mt-0" dir="rtl" lang="ar">
  <div class="container-fluid position-relative" style="min-height: 400px">
    <img
      src="../static/img/contact.webp"
      alt=""
      style="
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
        opacity: 0.3;
        border-radius: 1rem;
      "
    />
    <div
      class="row g-5 align-items-center justify-content-center position-absolute top-50 start-50 translate-middle"
      style="z-index: 2; width: 100%"
    >
      <div class="col-lg-7 col-md-12 mx-auto text-center py-5">
        <h1 class="display-1 mb-4 animated bounceInDown">تواصل معنا</h1>
      </div>
    </div>
  </div>
</div>
<!-- Hero End -->

<!-- Contact Start -->
<div
  class="container-fluid contact py-6 wow bounceInUp"
  data-wow-delay="0.1s"
  dir="rtl"
  lang="ar"
>
  <div class="container">
    <div class="p-5 bg-light rounded contact-form">
      <div class="row g-4">
        <div class="col-12">
          <small
            class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3"
            >تواصل معنا</small
          >
          <h1 class="display-5 mb-0 text-dark">لنبدأ رحلتك اليوم</h1>
        </div>
        <div class="col-md-6 col-lg-7">
          <p class="mb-4 text-dark">
            تواصل مع فريقنا لأي استفسار. نحن هنا لمساعدتك.
          </p>
          <p class="mb-4 text-dark">
            ملاحظة: جميع البيانات المدخلة هنا سرية وتستخدم فقط للتواصل مع
            العميل.
          </p>
          <form
            action="https://formsubmit.co/admin@unitopiaglobal.com"
            method="post"
            enctype="text/plain"
          >
            <input
              type="text"
              name="name"
              class="w-100 form-control p-3 mb-4 border-primary bg-light"
              placeholder="اسمك"
              required
            />
            <input
              type="email"
              name="email"
              class="w-100 form-control p-3 mb-4 border-primary bg-light"
              placeholder="البريد الإلكتروني"
              required
            />
            <input
              type="text"
              name="phone"
              class="w-100 form-control p-3 mb-4 border-primary bg-light"
              placeholder="رقم الهاتف"
              required
            />
            <input
              type="text"
              name="field_of_study"
              class="w-100 form-control p-3 mb-4 border-primary bg-light"
              placeholder="مجال الدراسة"
            />
            <select
              name="country"
              class="w-100 form-control p-3 mb-4 border-primary bg-light"
              aria-label="Default select example"
            >
              <option value="" selected>اختر الدولة</option>
              <option value="USA">الولايات المتحدة</option>
              <option value="UK">المملكة المتحدة</option>
              <option value="Spain">إسبانيا</option>
              <option value="Turkey">تركيا</option>
              <option value="Canada">كندا</option>
              <option value="Australia">أستراليا</option>
              <option value="Netherlands">هولندا</option>
            </select>
            <select
              name="degree"
              class="w-100 form-control p-3 mb-4 border-primary bg-light"
              aria-label="Default select example"
            >
              <option value="" selected>اختر الدرجة</option>
              <option value="Bachelor">بكالوريوس</option>
              <option value="Master's">ماجستير</option>
              <option value="English courses">دورات لغة إنجليزية</option>
            </select>
            <textarea
              name="message"
              class="w-100 form-control mb-4 p-3 border-primary bg-light"
              rows="4"
              cols="10"
              placeholder="رسالتك"
            ></textarea>
            <button
              class="w-100 btn btn-primary form-control p-3 border-primary bg-primary rounded-pill"
              type="submit"
            >
              إرسال
            </button>
          </form>
        </div>
        <div class="col-md-6 col-lg-5">
          <div>
            <div
              class="d-inline-flex w-100 border border-primary p-4 rounded mb-4"
            >
              <i class="fas fa-map-marker-alt fa-2x text-primary ms-4"></i>
              <div class="">
                <h4>مكاتبنا</h4>
                <p class="text-dark">
                  <i class="fas fa-angle-left text-primary me-2"></i>الرياض،
                  السعودية
                </p>
                <p class="text-dark">
                  <i class="fas fa-angle-left text-primary me-2"></i>عمان،
                  الأردن
                </p>
                <p class="text-dark">
                  <i class="fas fa-angle-left text-primary me-2"></i>لندن،
                  المملكة المتحدة
                </p>
              </div>
            </div>
            <div
              class="d-inline-flex w-100 border border-primary p-4 rounded mb-4"
            >
              <i
                class="fas fa-envelope fa-2x text-primary ms-4 flex-shrink-0"
              ></i>
              <div class="flex-grow-1">
                <h4>راسلنا</h4>
                <p class="mb-2 text-break text-dark">
                  <i class="fas fa-angle-left text-primary me-2"></i
                  >admin@unitopiaglobal.com
                </p>
              </div>
            </div>
            <div class="d-inline-flex w-100 border border-primary p-4 rounded">
              <i class="fa fa-phone-alt fa-2x text-primary ms-4"></i>
              <div class="">
                <h4>الهاتف</h4>
                <p class="mb-2 text-dark">
                  <i class="fas fa-angle-left text-primary me-2"></i>+966 56 861
                  9197
                </p>
                <p class="mb-2 text-dark">
                  <i class="fas fa-angle-left text-primary me-2"></i
                  >+962797145251
                </p>
                <p class="mb-2 text-dark">
                  <i class="fas fa-angle-left text-primary me-2"></i>+44 7402
                  832679
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact End -->

{% include 'ar/footer.html'%}
