<!-- Footer Start -->
<div class="container-fluid footer py-6 my-6 mb-0 bg-light wow bounceInUp" data-wow-delay="0.1s" dir="rtl" lang="ar">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h3 class="mb-4 text-primary">يوني توبيا<span class="text-dark">جلوبال</span></h3>
                    <p class="lh-lg mb-4">
                        شريكك الموثوق لفرص التعليم الدولي، نرشد الطلاب في كل خطوة من رحلتهم التعليمية بالخارج.
                    </p>
                    <div class="footer-icon d-flex">
                        <a class="btn btn-primary btn-sm-square ms-2 rounded-circle"
                            href="https://www.facebook.com/share/16nL5m5QpC/?mibextid=wwXIfr"><i
                                class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-primary btn-sm-square ms-2 rounded-circle"
                            href="https://www.tiktok.com/@unitopiaglobal"><i class="fab fa-tiktok"></i></a>
                        <a href="https://www.instagram.com/unitopiaglobal"
                            class="btn btn-primary btn-sm-square ms-2 rounded-circle"><i
                                class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/company/unitopia-global/"
                            class="btn btn-primary btn-sm-square rounded-circle"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>

            <!-- Site Map Start -->
<div class="col-lg-3 col-md-6" dir="rtl" lang="ar">
    <div class="footer-item" dir="rtl" lang="ar">
        <h4 class="mb-4">خريطة الموقع</h4>
        <div class="d-flex flex-column align-items-start">
            <a href="/home-ar" class="mb-2 text-decoration-none text-dark">
                <i class="fas fa-angle-left text-primary me-2"></i>الرئيسية
            </a>
            <a href="/about-ar" class="mb-2 text-decoration-none text-dark">
                <i class="fas fa-angle-left text-primary me-2"></i>من نحن
            </a>
            <a href="/service-ar" class="mb-2 text-decoration-none text-dark">
                <i class="fas fa-angle-left text-primary me-2"></i>الاستشارات التعليمية
            </a>
            <a href="/training-ar" class="mb-2 text-decoration-none text-dark">
                <i class="fas fa-angle-left text-primary me-2"></i>التدريب
            </a>
            <a href="/destinations-ar" class="mb-2 text-decoration-none text-dark">
                <i class="fas fa-angle-left text-primary me-2"></i>الوجهات
            </a>
            <a href="/contact-ar" class="mb-2 text-decoration-none text-dark">
                <i class="fas fa-angle-left text-primary me-2"></i>اتصل بنا
            </a>
            <a href="/faq-ar" class="mb-2 text-decoration-none text-dark">
                <i class="fas fa-angle-left text-primary me-2"></i>الأسئلة الشائعة
            </a>
        </div>
    </div>
</div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="mb-4">وجهاتنا</h4>
                    <div class="d-flex flex-column align-items-start">
                        <a href="/us-ar" class="mb-2 text-decoration-none text-dark"><i
                                class="fas fa-angle-left text-primary ms-2"></i>الولايات المتحدة</a>
                        <a href="/uk-ar" class="mb-2 text-decoration-none text-dark"><i
                                class="fas fa-angle-left text-primary ms-2"></i>المملكة المتحدة</a>
                        <a href="/canada-ar" class="mb-2 text-decoration-none text-dark"><i
                                class="fas fa-angle-left text-primary ms-2"></i>كندا</a>
                        <a href="/australia-ar" class="mb-2 text-decoration-none text-dark"><i
                                class="fas fa-angle-left text-primary ms-2"></i>أستراليا</a>
                        <a href="/spain-ar" class="mb-2 text-decoration-none text-dark"><i
                                class="fas fa-angle-left text-primary ms-2"></i>إسبانيا</a>
                        <a href="/turkey-ar" class="mb-2 text-decoration-none text-dark"><i
                                class="fas fa-angle-left text-primary ms-2"></i>تركيا</a>
                        <a href="/netherlands-ar" class="mb-2 text-decoration-none text-dark"><i
                                class="fas fa-angle-left text-primary ms-2"></i>هولندا</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="mb-4">تواصل معنا</h4>
                    <div class="d-flex flex-column align-items-start">
                        <p><i class="fa fa-map-marker-alt text-primary ms-2"></i>السعودية، الأردن، المملكة المتحدة</p>
                        <!-- <p><i class="fa fa-phone-alt text-primary ms-2"></i> (+012) 3456 7890 123</p> -->
                        <p><i class="fas fa-envelope text-primary ms-2"></i> admin@unitopiaglobal.com</p>
                        <p><i class="fa fa-clock text-primary ms-2"></i>خدمة 24/7</p>
                    </div>
                    <div class="mt-4 text-end">
                        <img src="../static/img/n-logo-r.png" class="img-fluid rounded-circle border border-primary p-2"
                            alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->


<!-- Copyright Start -->
<div class="container-fluid copyright bg-dark py-4" dir="rtl" lang="ar">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center mb-3 mb-md-0">
                <span class="text-light">حقوق النشر © 2023-2025 يوني توبيا جلوبال&reg;. جميع الحقوق محفوظة.</span>
            </div>
        </div>
    </div>
</div>
<!-- Copyright End -->


<!-- Back to Top -->
<a href="#" class="btn btn-md-square btn-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{ url_for('static', filename='lib/wow/wow.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/counterup/counterup.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/lightbox/js/lightbox.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>

<!-- Template Javascript -->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>