<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="utf-8" />
    <title>{{title}} يوني توبيا جلوبال</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap"
      rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link
      href="{{ url_for('static', filename='lib/animate/animate.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/lightbox/css/lightbox.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.css') }}"
      rel="stylesheet"
    />

    <!-- Customized Bootstrap Stylesheet -->
    <link
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
      rel="stylesheet"
    />

    <!-- Template Stylesheet -->
    <link
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
    />

    <!-- Custom Stylesheet -->
    <link
      href="{{ url_for('static', filename='css/custom.css') }}"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- Spinner Start -->
    <div
      id="spinner"
      class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50 d-flex align-items-center justify-content-center"
    >
      <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->

    <!-- Navbar start -->
    <div class="container-fluid nav-bar custom-nav">
      <div class="container">
        <nav class="navbar navbar-light navbar-expand-lg py-4">
          <a href="/home-ar" class="navbar-brand">
            <!-- Add logo with nav -->
            <img
              src="../static/img/n-logo-r.png"
              alt="شعار يوني توبيا جلوبال"
              style="height: 80px; margin-left: 10px"
            />
            <h3
              class="text-primary fw-bold mb-0"
              style="display: inline; vertical-align: middle"
            >
              يوني توبيا<span class="text-dark">جلوبال</span>
            </h3>
          </a>
          <button
            class="navbar-toggler py-2 px-3"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
          >
            <span class="fa fa-bars text-primary"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav mx-auto">
              <a href="/home-ar" class="nav-item nav-link active">الرئيسية</a>
              <a href="/about-ar" class="nav-item nav-link">من نحن</a>
              <div class="nav-item dropdown">
                <a
                  href="#"
                  class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
                  >الخدمات</a
                >
                <div class="dropdown-menu bg-light text-end">
                  <a href="/service-ar" class="dropdown-item"
                    >الاستشارات التعليمية</a
                  >
                  <a href="/training-ar" class="dropdown-item">التدريب</a>
                </div>
              </div>
              <div class="nav-item dropdown">
                <a
                  href="#"
                  class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
                  >الوجهات</a
                >
                <div class="dropdown-menu bg-light text-end">
                  <a href="/destinations-ar" class="nav-item nav-link"
                    >الوجهات</a
                  >
                  <a href="/us-ar" class="dropdown-item">الولايات المتحدة</a>
                  <a href="/uk-ar" class="dropdown-item">المملكة المتحدة</a>
                  <a href="/canada-ar" class="dropdown-item">كندا</a>
                  <a href="/spain-ar" class="dropdown-item">إسبانيا</a>
                  <a href="/turkey-ar" class="dropdown-item">تركيا</a>
                  <a href="/australia-ar" class="dropdown-item">أستراليا</a>
                  <a href="/netherlands-ar" class="dropdown-item">هولندا</a>
                </div>
              </div>
              <!-- <a href="/testimonial" class="nav-item nav-link">آراء العملاء</a> -->
              <div class="nav-item dropdown">
                <a
                  href="#"
                  class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
                  >تواصل معنا</a
                >
                <div class="dropdown-menu bg-light text-end">
                  <a href="/contact-ar" class="dropdown-item">اتصل بنا</a>
                  <a href="/faq-ar" class="dropdown-item">الأسئلة الشائعة</a>
                </div>
              </div>
            </div>
            <a
              href="/contact-ar"
              class="btn btn-primary py-2 px-4 d-none d-xl-inline-block rounded-pill"
              >ابدأ رحلتك</a
            >
            <div class="dropdown d-none d-xl-inline-block m-3">
              <button
                class="btn btn-primary py-2 px-4 rounded-pill dropdown-toggle"
                type="button"
                id="langDropdown"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fas fa-globe"></i>
              </button>
              <ul
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="langDropdown"
              >
                <li>
                  <a class="dropdown-item" href="/">
                    <span class="me-2">🇺🇸</span> English</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/home-ar">
                    العربية <span class="me-2">🇸🇦</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
